@import "tailwindcss";

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

body {
  font-family: 'Inter', sans-serif;
   font-size: 1.1rem;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Space Grotesk', sans-serif;
}

.social-icon {
  transition: filter 0.3s ease, color 0.3s ease;
}
.social-icon:hover {
  filter: brightness(3.4);
}

/* efecto popup suave */

@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: popup 0.3s ease-out;
}